/* 임포트 */
@import "./common.css";

/* 레이아웃 */
body.toggle {
	overflow: hidden;
	height: 100dvh;
}
.wrapper {
	z-index: -1;
	color: #fff;
}
section {
	padding: 150px 60px;
}

/* 헤더 */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
}
.header > * {
	position: absolute;
	top: 30px;
}
.header h1 {
	top: 20px;
	left: 16px;
}
.header h1 a {
	display: flex;
	flex-direction: column;
	padding: 10px 40px;
	font-family: "Playfair Display", serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	font-optical-sizing: auto;
}
.header .btn-menu {
	display: flex;
	gap: 10px;
	align-items: center;
	right: 56px;
	font-family: "Playfair Display", serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}
.header .btn-menu .text {
	flex: 1;
	overflow: hidden;
	position: relative;
}
.header .btn-menu .text span {
	display: inline-block;
	position: relative;
	transition: transform 0.3s;
}
.header .btn-menu:hover .text span {
	transform: translateY(-100%);
}
.header .btn-menu .text span::after {
	position: absolute;
	top: 100%;
	left: 0;
	content: "Menu";
}
.header .btn-menu .line {
	display: flex;
	gap: 3px;
	align-items: flex-start;
	flex-shrink: 0;
	flex-direction: column;
	width: 30px;
}
.header .btn-menu .line span {
	height: 1px;
	background: rgba(255, 255, 255, 0.9);
	transition: width 0.3s;
}
.header .btn-menu .line span:first-child {
	width: 80%;
}
.header .btn-menu .line span:last-child {
	width: 60%;
}
.header .btn-menu:hover .line span:first-child {
	width: 60%;
}
.header .btn-menu:hover .line span:last-child {
	width: 80%;
}

/* 메뉴 */
.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9998;
	background: var(--bgColor-dark);
	opacity: 0;
	pointer-events: none;
}
.menu.toggle {
	pointer-events: auto;
}
.menu .group-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	counter-reset: ol-menu-list-counter;
}
.menu .group-list li a {
	transition: opacity 0.3s;
	display: flex;
	align-items: center;
	position: relative;
	padding: 20px 0;
	font-family: "Playfair Display", serif;
	font-size: 62px;
	font-style: normal;
	font-weight: 500;
	font-optical-sizing: auto;
}
.menu .group-list li a::before {
	position: absolute;
	top: 5px;
	left: -46px;
	font-size: 18px;
	color: var(--color-description);
	content: counter(ol-menu-list-counter, decimal-leading-zero) ".";
	counter-increment: ol-menu-list-counter;
	opacity: 0.4;
}
.menu .group-list li a::after {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 40px;
	height: 40px;
	font-family: "Font Awesome 5 Free";
	font-size: 18px;
	font-style: normal;
	font-weight: 900;
	content: "\f107";
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	transform: translateY(10px);
}

/* main섹션 */
.sc-main {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100dvh;
}
.sc-main h2 {
	display: flex;
	align-items: center;
	font-family: "Playfair Display", serif;
	font-size: 12vw;
	font-style: normal;
	font-weight: 700;
	color: #999;
	pointer-events: none;
	font-optical-sizing: auto;
}
.sc-main h2 .gsap {
	position: relative;
}
.sc-main h2 .ef-magnatic {
	position: relative;
}
.sc-main .group-animation {
	position: absolute;
	bottom: -12%;
	left: 56px;
}
.sc-main .group-animation i {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #999;
	transition: color 0.3s;
	transform: translate(-50%, -50%);
}
.sc-main .group-animation text {
	font-family: "Playfair Display", serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 29px;
	animation: circle 6s infinite linear;
	transition: fill 0.3s;
	fill: rgba(255, 255, 255, 0.5);
	transform-origin: center;
	font-optical-sizing: auto;
}
.sc-main .group-animation:hover i,
.sc-main .group-animation:hover text {
	color: #fff;
	fill: #fff;
}

/* demos섹션 */
.sc-demos {
	background: var(--bgColor-bright);
}
.sc-demos .group-list {
	display: grid;
	grid-column-gap: 3vw;
	grid-row-gap: 5vw;
	margin: 150px 4vw 0 4vw;
	grid-template-columns: repeat(3, 1fr);
}
.sc-demos .wrap-item {
	font-family: "Playfair Display", serif;
	font-style: normal;
	font-weight: 500;
	font-optical-sizing: auto;
}
.sc-demos .wrap-item .box-img {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
	background: var(--bgColor-dark);
	aspect-ratio: 16/9;
}
.sc-demos .wrap-item .box-img::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	transition: background-color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
	content: "";
}
.sc-demos .wrap-item:hover .box-img::after {
	background: rgba(0, 0, 0, 0);
}
.sc-demos .wrap-item .box-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.sc-demos .box-text {
	padding: 30px 3% 20px;
}
.sc-demos .box-text strong {
	position: relative;
	font-size: calc(19px + 0.3vw);
	color: var(--color-title);
}
.sc-demos .box-text strong::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 1px;
	background: #fff;
	transition: width 0.2s;
	content: "";
}
.sc-demos .wrap-item:hover strong::after {
	width: 100%;
}
.sc-demos .box-text p {
	padding-top: 10px;
	font-size: calc(13px + 0.1vw);
	color: var(--color-description);
}

/* feature섹션 */
.sc-feature .group-list {
	display: grid;
	max-width: 1280px;
	margin: 0 auto;
	margin-top: 150px;
	letter-spacing: 1px;
	grid-template-columns: repeat(4, 1fr);
}
.sc-feature .group-list:not(:nth-child(2)) {
	margin-top: 42px;
}
.sc-feature .wrap-item {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	flex: 1;
	flex-direction: column;
}
.sc-feature .box-img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 120px;
	background-color: var(--color-feature);
	font-weight: 700;
	pointer-events: none;
	border-radius: 50%;
}
.sc-feature .box-img img {
	width: 50%;
}
.sc-feature .wrap-item strong {
	height: 40px;
	font-weight: 400;
	line-height: 1.3;
	text-align: center;
}
.sc-feature > p:last-child {
	padding-top: 150px;
	font-size: 19px;
	font-weight: 200;
	color: var(--color-description);
	text-align: center;
}

/* 푸터 */
.footer {
	background: var(--bgColor-dark);
	font-family: "Playfair Display", serif;
	font-style: normal;
	font-weight: 500;
}
.footer .group-contact {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	padding: 40px 0 150px;
}
.footer .wrap-contact {
	overflow: hidden;
	position: relative;
	z-index: 1;
	width: 800px;
	height: 200px;
	font-size: 96px;
	white-space: nowrap;
	font-optical-sizing: auto;
}
.footer .wrap-contact > * {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: transform 0.6s cubic-bezier(0.51, 0.57, 0.17, 1);
}
.footer .wrap-contact:hover > * {
	transform: translateY(-100%);
}
.footer .wrap-contact > span {
	justify-content: center;
	opacity: 0.4;
}
.footer .box-number {
	position: absolute;
	top: 100%;
	left: 0;
}
.footer .box-number span {
	display: flex;
	position: relative;
	animation: contact 3s infinite linear;
	animation-play-state: paused;
}
.footer .wrap-contact:hover .box-number span {
	animation-play-state: running;
}
.footer .box-number span::after {
	display: inline-block;
	position: relative;
	top: 60px;
	width: 0.5vw;
	height: 0.5vw;
	margin: 0 3vw;
	background: #fff;
	content: "";
	border-radius: 50%;
}
.footer .group-contact > p {
	z-index: 1;
	margin-top: 10px;
	font-size: 17px;
}
.footer .group-copyright {
	position: relative;
	padding: 30px 60px 60px;
	font-size: 17px;
}
.footer .group-copyright .btn-top {
	display: flex;
	gap: 15px;
	align-items: center;
	overflow: hidden;
	font-family: "Playfair Display", serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	font-optical-sizing: auto;
}
.footer .group-copyright .btn-top > span {
	position: relative;
	transition: transform 0.3s;
}
.footer .group-copyright .btn-top > span::before {
	position: absolute;
	top: 100%;
	left: 0;
	content: "Back to top";
}
.footer .group-copyright .btn-top:hover > span {
	transform: translateY(-105%);
}
.footer .group-copyright .btn-top .line {
	overflow: hidden;
	position: relative;
	width: 40px;
	height: 1px;
}
.footer .group-copyright .btn-top .line span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
}
.footer .group-copyright .btn-top .line span::before {
	position: absolute;
	top: 0;
	left: -200%;
	width: 100%;
	height: 100%;
	background: #fff;
	content: "";
}
.footer .group-copyright .btn-top:hover .line span {
	animation: line 0.4s;
}
.footer .group-copyright small {
	position: absolute;
	bottom: 60px;
	left: 50%;
	color: var(--color-description);
	transform: translateX(-50%);
}
